<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container modal">
        <div class="cards">
            <h2 class="title">Backlog</h2>

            <div class="tasks ">
                <h4>Lorem</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus, 
                    hic. Eius, dicta quos molestias dignissimos iste nisi dolor cum nam sint obcaecati hic voluptate! 
                    Eos quos earum placeat illum nam?</p>
            </div>
            <div class="tasks ">
                <h4>Lorem</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus, 
                    hic. Eius, dicta quos molestias dignissimos iste nisi dolor cum nam sint obcaecati hic voluptate! 
                    Eos quos earum placeat illum nam?</p>
            </div>
            <div class="add">
                <div class="a">
                    <div class="any_less"></div>
                    <div class="more"></div>
                </div>
          
            </div>
        </div>
        
        <div class="cards">
            <h2 class="title">To do</h2>

            <div class="tasks">
                <h4>Lorem</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus, 
                    hic. Eius, dicta quos molestias dignissimos iste nisi dolor cum nam sint obcaecati hic voluptate! 
                    Eos quos earum placeat illum nam?</p>
            </div>
            <div class="add">
                <div class="a">
                    <div class="any_less"></div>
                    <div class="more"></div>
                </div>
          
            </div>
        </div>
        <div class="cards">
            <h2 class="title">In progress</h2>

            <div class="tasks ">
                <h4>Lorem</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus, 
                    hic. Eius, dicta quos molestias dignissimos iste nisi dolor cum nam sint obcaecati hic voluptate! 
                    Eos quos earum placeat illum nam?</p>
            </div>
            
            <div class="add">
                <div class="a">
                    <div class="any_less"></div>
                    <div class="more"></div>
                </div>
          
            </div>
        </div>
        <div class="cards">
            <h2 class="title">Desingned</h2>

            <div class="tasks ">
                <h4>Designed</h4>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus, 
                    hic. Eius, dicta quos molestias dignissimos iste nisi dolor cum nam sint obcaecati hic voluptate! 
                    Eos quos earum placeat illum nam?</p>
            </div>
            <div class="add">
                <div class="a">
                    <div class="any_less"></div>
                    <div class="more"></div>
                </div>
          
            </div>
        </div>
    </div>

    <div class="total_overvlow">
        <div class="overvlow">
            <h2>Adicionar uma Tarefa</h2>
            <form action="">
                <input type="text" placeholder="Título da tarefa">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <div class="color">
                    <input type="color" name="" id="">
                    <span></span>
                </div>
            </form>
            
    
            <div class="buttons">
                    <button>Cancel</button>
                    <button type="submit">Adicionar</button>
            </div>
        </div>
    </div>
</body>
</html>